
// Google fonts
@import url(https://fonts.googleapis.com/css2?family=Graduate&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    list-style: none;

    &:focus {
        outline: none;
    }
}

/* scrollbar */
::-webkit-scrollbar {
    display: none;
}

body {
    width: 1000px;
    min-width: 1000px;
    max-width: 1000px;
    background-color: #000;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

.content-container {
    height: calc(100vh - 20px);
    overflow: hidden;
    display: flex;
    color: #FFF;
    margin-left: 40px;
}