.custom-alert-box {
    --alert-color: #FFF;

    pointer-events: all;
    cursor: pointer;
    width: 250px;
    background-color: #050505;
    border-left: 2px solid;
    border-right: 2px solid;
    border-color: var(--alert-color);
    border-radius: 5px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    z-index: 30;
    padding: 5px 5px 10px 5px;

    .title {
        display: flex;
        align-items: center;
        position: relative;
        justify-content: space-between;
        padding: 2px 2px 5px;

        svg {
            width: 25px;
            height: 25px;
        }

        span {
            font-size: 20px;
            text-transform: uppercase;
            color: #FFF;
            font-family: 'Graduate', sans-serif;
        }
    }

    .des span {
        color: #CCC;
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        word-wrap: break-word;
    }
}