.about-us {
    height: 100%;
    width: 100%;
    position: relative;
    
    .head-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .title-top {
            display: inline-block;
            margin: 0 10px;
        }

        .text-container {
            margin: 5vh 0;
            font-family: 'Coming Soon', cursive;
            font-weight: bolder;
            text-transform: capitalize;
            font-size: larger;
        }

        .about-us-title {
            position: relative;
            letter-spacing: 18px;
            font-family: "Graduate", sans-serif;
            font-size: xxx-large;
            margin-bottom: 5vh;
        }

        .line {
            margin-top: -20px;
            width: 260px;
            height: 3px;
            background-color: aliceblue;
        }

        .logo-base {
            margin-top: 5vh;
            display: grid;
            font-family: "Graduate", sans-serif;
            font-size: 10vh;

            .text-logo {
                text-align: center;
                font-size: 66px;
            }
        }
    }

    .footer-container {
        margin-top: 5vh;
        padding: 0 190px;

        .about-us-text {
            // padding: 0 3vh;
            word-spacing: 3px;
            // text-align: center;
            line-height: 25px;
        }
    }

    .social-media {
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 20px;
        width: 100%;

        svg {
            width: 30px;
            height: 30px;
            margin: 0 20px;
            cursor: pointer;
        }
    }


    .link {
        display: inline-block;
        border-bottom: 3px solid #51EAFF;
        border-radius: 3px;

        &:hover {
            cursor: pointer;
        }
    }
}