.dns-changer {
    width: 100%;
    height: 100%;
    background-color: #000;
    
    .dns-editor {
        width: 70%;
        height: 100%;
        padding: 20px;

        .dns {
            width: 300px;
            margin-bottom: 30px;
        }
    }
}