.settings {
    width: 100%;
    height: 100%;
    background-color: #000;
    
    .editor-content {
        width: 100%;
        display: flex;
        height: 100%;

        .settings-content {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;

            span {
                font-family: 'Graduate', 'Roboto', sans-serif;
                font-size: 30px;
                text-transform: uppercase;
                margin-top: 100px;
            }
        }
    }
}
