.dns-editor {
    width: 100%;
    height: 100%;
    padding: 20px;

    .dns {
        width: 300px;
        margin-bottom: 30px;
    }

    .actions {
        display: flex;
        flex-direction: column;
        width: 300px;
        margin-left: 20px;
    }
}